/* ====Universal Style==== */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* =====Fonts and Styles====*/
h1 {
    font-weight: 900;
}

h4,
h5,
h6 {
    line-height: 2em;
}

/*===========*/
body {
    background: rgb(34, 12, 33);
    background: linear-gradient(
        130deg,
        rgba(34, 12, 33, 1) 0%,
        rgba(15, 30, 41, 1) 13%,
        rgba(0, 0, 0, 1) 24%,
        rgba(0, 0, 0, 1) 68%,
        rgba(15, 30, 41, 1) 87%,
        rgba(34, 12, 33, 1) 100%
    );
}

/* html {
  background: rgb(34, 12, 33);
  background: linear-gradient(
    130deg,
    rgba(34, 12, 33, 1) 0%,
    rgba(15, 30, 41, 1) 13%,
    rgba(0, 0, 0, 1) 24%,
    rgba(0, 0, 0, 1) 68%,
    rgba(15, 30, 41, 1) 87%,
    rgba(34, 12, 33, 1) 100%
  );
  background-attachment: fixed;
} */
/*===========*/
nav {
    height: 120px;
}

nav li {
    width: 160px;
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: inline-block;
    margin: 50px 10px;
    box-shadow: 0px 0px 10px #ff009d;
    line-height: 2.5;
}

nav li,
.btn-small,
.modal,
.card-container {
    background: linear-gradient(rgb(0, 0, 0) 0 0) padding-box,
        linear-gradient(to right, rgb(0, 221, 250), #8b35fb, #fb3570) border-box;
}

/*===========*/
main {
    width: 80%;
    margin: auto;
}

footer {
    margin-top: 50px;
    height: 60px;
    color: rgb(189, 187, 187);
    text-align: center;
    padding-top: 20px;
}

.logo {
    width: 350px;
}

.nav-wrapper {
    font-size: 16px;
}

.row {
    padding-top: 80px;
}

.event-img {
    height: 760px;
    transition-delay: 1s;
    animation: fadeInAnimation ease 4s;
}

.bucketlist-img {
    /* height: 760px; */
    height: 50px;
    transition-delay: 1s;
    animation: fadeInAnimation ease 4s;
}


.chicago-img {
    width: 650px;
}

@media only screen and (max-width: 600px) {
    .chicago-img {
        width: 450px;
        padding-right: 40px;
        margin-top: 60px;
    }
}

.light-weight {
    font-weight: 100;
}

#modal-launch {
    text-align: left;
    font-size: 16px;
    /* background: linear-gradient(rgb(0, 0, 0) 0 0) padding-box,
        linear-gradient(to right, rgb(0, 221, 250), #8b35fb, #fb3570) border-box; */
    width: 200px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    margin-top: 30px;
    height: 40px;
    box-shadow: 0px 0px 10px #ff009d;
}

#search-icon {
    margin-right: 45px;
}

.modal {
    border-width: 3px;
    border-style: solid;
    height: 50%;
    width: 50%;
    /* background: linear-gradient(rgb(0, 0, 0) 0 0) padding-box,
        linear-gradient(to right, rgb(0, 221, 250), #8b35fb, #fb3570) border-box; */
    border: 2px solid transparent;
    border-radius: 10px;
}

.modal .btn-flat {
    color: rgb(0, 221, 250);
}

.input-field {
    border-width: 3px;
}

/* invalid color */
.input-field input[type="text"].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.datepicker {
    height: 50%;
    width: 50%;
}

.datepicker-modal {
    min-width: 475px;
    min-height: 360px;
}

.datepicker-date-display {
    background-color: black;
}

.mobile-search {
    background-color: dimgray;
}

.banner {
    width: 100%;
}

.std-padding-left {
    margin-left: 60px;
}

.chicago-image {
    background-image: url("./links/chicago-banner.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.chicago-image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Cards */
.card-container {
    /* background: linear-gradient(rgb(0, 0, 0) 0 0) padding-box,
        linear-gradient(to right, rgb(0, 221, 250), #8b35fb, #fb3570) border-box; */
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: scroll;
    min-height: 760px;
}

.card:hover {
    transform: scale(1.08);
}

.card-title {
    font-size: 20px;
    font-weight: bold !important;
}

.card p {
    font-size: 14px;
}

.card-action:last-child {
    align-self: flex-end;
}

.activator:hover {
    cursor: pointer;
}

.bucketlist-card {
    display: flex;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track .card-container {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fb3570;
    border-radius: 10px;
}

/* Event Cards on Search Page */
.search-card {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    font-size: 12px;
}

.card .card-reveal {
    color: black;
}
/* flex */
.card-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card-image {
    height: fit-content;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */


@media only screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
    .mobile-show {
        display: show;
    }
}

@media only screen and (min-width: 600px) {
    .desktop-show {
        display: show;
    }
    .hide-desktop {
        display: none;
    }
}

